* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
body{
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}
/*---------------------global css styles----------------------*/
/*spinner style started*/
  .spinner i{
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  .spinner{
    position: relative;
  }
  .spinner button{
    color: #69B022;
    background: none;
    outline: none;
    border: 1px solid #CBCBCB;
    padding: 12px;
    position: fixed;
    top: 15px;
  }
/*menu bar style started*/
  .menu-bar{
   text-align: right;
    margin-top: 20px;
  }
  .menu-bar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  .menu-bar a{
    color: #000;
    text-decoration: none;
    font-size: .8rem;
  }
  .menu-bar a:hover{
    color: #69B21D;
  }
  .menu-bar i{
    color: #000;
    margin-left: 7px;
    font-size: .9rem;
  }
  #menu-solid{
    border:1px solid #69B022;
    width: 100%;
  }
  #bicycle{
    margin-right: 10px;
  }
  #shopping{
    color: #69B022;
  }
  .menu-bar ul li{
    display: inline-block;
    background-color: #fff;
    text-align: left;
    margin-right: 25px;
  }
  .menu-bar ul li ul{
    padding-top: 10px;
    position: absolute;
  }
  .menu-bar ul li ul li a{
    font-size: 1rem;
    color: #000;
    padding-left: 15px;
  }
  .menu-bar ul li ul li{
    display: none;
    padding-top: 10px;
    width: 120%;
  }
  .menu-bar ul li:hover ul li{
    display: block;
  }
/*menu bar style started*/
/*header menu slide style started*/
#shopping{
  color: #69B31D;
}
#dropbtn {
  font-size: 1.4rem;
  background-color: #F3F2F3;
  color: #8B8B8B;
  padding: 10px;
}
.dropdown i{
  margin-left: 35px;
  margin-top: 10px;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  left: 0;
  right: 0;
  top: 52px;
  z-index: 1;
}
.menu-solid{
  border: 1px solid #CFCFCF;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .9rem;
  text-align: left;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/*header menu slide style ended*/

/*header style started*/
.header-logo{
  float: left;
}
.header-logo img{
  padding-top:25px;
  text-align: left;
}
#menu_bar{
  background-color: #F3F2F3;
  color: #8B8B8B;
  font-size: 28px;
  padding: 14px;
  border-radius: 5px;
}
#shopping_cart{
  font-size: 24px;
  padding-right: 20px;
}
.menu-container{
  float: right;
  text-align: right;
  padding-right: 15px;
}

/*header style ended*/ 
/*header photo style started*/
.header-photo{
  background-image: url("../img/image.jpg");
  height: 520px;
  margin-top: 10px;
  width: 100%;
}
  .photo-text{
    position: relative;
  }
  .text{
    position: absolute;
    bottom: 250px;
    left: 25px;
  }
  .photo-text2{
    font-size: 2rem;
    margin: 0px;
  }
  .photo-button{
    position: relative;
  }
  .button{
    position: absolute;
    bottom: 165px;
    left: 20px;
  }
  .button button{
    height: 45px;
    font-size: 1.1rem;
    background-color: #69B21D;
    color: #fff;
    border:none;
    border-radius: 5px;
    margin-left: 10px;
  }
  #brown-button{
    height: 45px;
    font-size: 1.1rem;
    background-color: #71777A;
    color: #fff;
    border:none;
    border-radius: 5px;
  }
/*header photo style ended*/

/*features section style started*/ 
.features-container h2{
  font-size: 1.2rem;
  color: #636363;
}
.features-container{
  text-align:center; 
}
.features-container i{
  font-size: 1.7rem;
  color: #636363;
  margin-top: 20px;
}
.features-container p{
  font-size: .8rem;
  color: #636363;
  line-height: 180%;
}
.features-container a{
  font-size: 1rem;
  color: #69B417;
  text-decoration: none;
}
.features-container section{
  padding-top: 30px;
}
.features-container #right{
  font-size: .9rem;
  color: #69B417;

}
.features-container #right_2{
  font-size: .9rem;
  color: #69B417;

}
.features-container #right_3{
  font-size: .9rem;
  color: #69B417;
}
/*features section style ended*/ 

/*story article style started*/
.story-article article{
  padding-left: 15px;
}
.story-article article h1{
  color: #636363;
  font-size: 2rem;
  padding-top: 45px;
  font-family: 'Lato', sans-serif;
}
.story-article article h2{
  color: #636363;
  font-size: 1.7rem;
  padding-top: 25px;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
}
.story-article article p{
  color: #636363;
  font-size: .9rem;
  line-height: 150%;
  font-family: 'Lato', sans-serif;
}
.story-article ul li{
  list-style-type: none;
  display: inline-block;
}
.brown-year{
  background-color: #fff;
  width: 60px;
  height: 55px;
  border:1px solid #D4D4D4;
  padding-top: 14px;
  padding-left: 7px;
  border-radius: 50%;
}
.green-year{
  background-color: #69B21D;
  width: 60px;
  height: 55px;
  border:1px solid #D4D4D4;
  padding-top: 14px;
  padding-left: 7px;
  border-radius: 50%;
}
#green{
  color: #fff;
}
.story-article a{
  text-decoration: none;
  text-align: center;
  color: #D4D4D4;
}
/*story article style ended*/

/*galery section style started*/
.galery-section{
  font-family: 'Lato', sans-serif;
  padding-top: 45px;
}
.galery-section img{
  width: 100%;
}
.galery-section section{
  margin-top: 20px;
}
.galery-section h2{
  color: #636363;
}
.galery-section h3{
  color: #636363;
  font-size: 1rem;
  padding-left: 15px;
  padding-top: 15px;
}
.galery-section p{
   color: #636363;
  font-size: 1rem;
  padding-left: 15px;
  padding-top: 15px;
}
.galery-section a{
  background-color: #69B21D;
  color: #fff;
  text-decoration: none;
  padding: 7px;
  font-size: .9rem;
  margin-left: 27%;
  border-radius: 5px;
}
.galery-section i{
  font-size: .7rem;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 4px;
}
/*galery section style ended*/

/*pricing section style started*/
.pricing-section{
  font-family: Raleway, sans-serif;
  font-weight: 600;
}
.section-height{
  padding: 2px;
}
.green-section-height{
  padding: 2px;
}
.pricing-section h2{
  color: #636363;
  padding-top: 50px;
  padding-left: 10px;
  font-weight: 600;
}
.pricing-section ul{
  padding: 0px;
}
.pricing-section p{
  color: #fff;
  height: 50px;
  margin: -1px;
  background-color: #71787B;
}
.pricing-p{
  padding-top: 30px;

}
.pricing-p2{
  padding-top: 20px;
}
.pricing-section section{
  text-align: center;
  padding-top:35px;
  background-color: #F6F6F6;
}
.green-section-height{
  height: 400px;
}
#green-button{
  background-color: #69B21D;
}
.green-section-height p{
  background-color: #69B417;
}
.green-p{
  padding-top: 30px;
}
.green-p2{
  padding-top: 20px;
}
.section-height{
  height: 400px;
}
.pricing-section button{
  background-color: #71777A;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  font-size: .8rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
.pricing-section ul li {
  list-style: none;
  color: #636363;
  font-size: .8rem;
  line-height: 250%;
}
/*pricing section style started*/

/*main article style started*/
.main-article{
  font-family: 'Lato', sans-serif;
  padding-left: 14px;
}
.main-article article{
  padding-top: 20px;
}
.main-article h1{
  font-size: 1.8rem;
  color: #636363;
  padding-top: 35px;
}
.main-article i{
  color: #69B022;
  font-size: 1.9rem;
  float: left;
  padding-right: 15px;
}
.main-article h3{
  color: #636363;
  font-size: 1rem;
  margin: 0px;
}
.main-article p{
  color: #636363;
  font-size: 0.9rem;
  padding-left: 45px;
  line-height: 150%;
}
/*main article style ended*/

/* slider create style started*/
.slide-ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.slide-li {
  position: absolute;
}
.first {
  animation: ade 4s 1s infinite;
}
.second {
  animation: fade 4s 6s infinite;
}
.third{
  animation: fade 4s 9s infinite;
}
@keyframes fade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
/* slider create style ended*/

/*authors style started*/
.authors h3{
  color: #636363;
  font-style: italic;
  font-size: 1rem;
  margin-top: 45px;
}
.authors img{
  border-radius: 50%;
  width: 15%;
}
.authors p{
  color: #A1A1A1;
  font-weight: bolder;
  font-size: .9rem;
  margin:0px;
}
.authors span{
  color: #C3C3C3;
  font-size: .9rem;
}
.authors section{
  text-align: center;
}
/*authors style ended*/

/*companies style started*/
.companines-section p{
  font-size: .9rem;
  color: #969696;
  text-align: center;
  padding-top: 60px;
}
.companines-section ul{
  list-style: none;
  display: inline;
}
.companines-section ul li{
  display: inline-block;
  text-align: center;
  padding: 15px;
}
.list-logo{
  text-align: center;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
/*companies style ended*/




/*site subcribe style started*/
.subcribe-site{
  text-align: center;
  color: #929394;
}
.subcribe-site h3{
  color: #636363;
  font-weight: 500;
}
.subcribe-site p{
  font-size: 1.2rem;
}
#subcribe-a{
  color: #69B022;
}
::placeholder{
  font-size: .9rem;
  padding-left: 10px;
}
.subcribe-solid{
  border:1px solid #BDBDBD;
  margin-top: 35px;
}
.subcribe-site input{
  margin-left: 15px;
  padding: 6px;
  border-radius: 4px;
  outline:none;
  border:1px solid #DDD;
}
.subcribe-site span{
  font-size: 1rem;
  background-color: #69B21D;
  color: #fff;
  padding: 9px;
  float: left;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*site subcribe style ended*/

/*site footer style started*/
.footer{
  color: #8B8B8B;
}
.left-footer ul li{
  list-style-type: none;
  display: inline-block;
}
.left-footer ul{
  text-align: center;
  padding: 0px;
}
.footer a{
  color: #8B8B8B;
  text-decoration: none;
  font-size: .8rem;
  padding: 5px;
}
.footer p{
  font-size: .8rem;
  text-align: center;
}
.right-footer ul li{
  list-style-type: none;
  display: inline-block;
  width: 38px;
  height: 38px;
  border:1px solid #8B8B8B;
  border-radius: 50%;
}
.right-footer ul{
  text-align: center;
  padding: 0px;
}
.right-footer i{
  font-size: .9rem;
  padding: 10px;
}
/*site footer style ended*/

/*--------------------------------------end---------------------------------------------------*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .col-offset-1 { margin-left: 8.33%;}
  .col-offset-2 { margin-left: 16.66%;}
  .col-offset-3 { margin-left: 25%;}
  .col-offset-4 { margin-left: 33.33%;}
  .col-offset-5 { margin-left: 41.66%;}
  .col-offset-6 { margin-left: 50%;}
  .col-offset-6 { margin-left: 58.33%;}
  .col-offset-7 { margin-left: 66.66%;}
  .col-offset-8 { margin-left: 75%;}
  .col-offset-9 { margin-left: 8.33%}
  .col-offset-10 { margin-left:  83.33%;}
  .col-offset-11 { margin-left:  91.66%;}
  .col-offset-12 { margin-left: 100%;}
/*story photo style*/
  .story-photo{
    display: none;
  }
/*story photo style ended*/ 
/*galery section style*/ 
    .galery-section{
    padding-right: 25px;
    padding-left: 25px;
  }
/*galery section style ended*/   
  .menu-bar{
    display: none;
  }
  .spinner{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}

  .col-sm-offset-1 { margin-left: 8.33%;}
  .col-sm-offset-2 { margin-left: 16.66%;}
  .col-sm-offset-3 { margin-left: 25%;}
  .col-sm-offset-4 { margin-left: 33.33%;}
  .col-sm-offset-5 { margin-left: 41.66%;}
  .col-sm-offset-6 { margin-left: 50%;}
  .col-sm-offset-7 { margin-left: 58.33%;}
  .col-sm-offset-8 { margin-left: 66.66%;}
  .col-sm-offset-9 { margin-left: 75%;}
  .col-sm-offset-10 { margin-left: 83.33%;}
  .col-sm-offset-11 { margin-left: 91.66%;}
  .col-sm-offset-12 { margin-left: 100%;}
/*story photo style*/
  .story-photo{
    display: none;
  }
/*story photo style ended*/
/*galery section style*/  
    .galery-section{
    padding-right: 25px;
    padding-left: 25px;
  }
/*galery section style ended*/
  .menu-bar{
    display: none;
  } 
  .spinner{
    display: none;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
  
  .col-md-offset-1 { margin-left: 8.33%;}
  .col-md-offset-2 { margin-left: 16.66%;}
  .col-md-offset-3 { margin-left: 25%;}
  .col-md-offset-4 { margin-left: 33.33%;}
  .col-md-offset-5 { margin-left: 41.66%;}
  .col-md-offset-6 { margin-left: 50%;}
  .col-md-offset-7 { margin-left: 58.33%;}
  .col-md-offset-8 { margin-left: 66.66%;}
  .col-md-offset-9 { margin-left: 75%;}
  .col-md-offset-10 { margin-left: 83.33%;}
  .col-md-offset-11 { margin-left: 91.66%;}
  .col-md-offset-12 { margin-left: 100%;}
/*story photo style*/
  .story-photo{
    display: block;
  }
 
  .story-photo img{
    float: left;
    width: 88%;
    height: 221px;
    margin-top: 55px;
  }
  .story-article p{
    padding-right: 25px;
  }
  .story-article h1{
    padding-left: 61px;
  }
/*story style ended*/
  .main-article h1{
    padding-left: 72px;
  }
  .companines-section img{
    margin-right: 15px;
  }
  .galery-section h2{
  color: #636363;
  padding-left: 56px;
  }
/*story photo style ended*/  
/*subcribe site style*/ 
  .subcribe-site p{
    font-size: 1rem;
  }
/*subcribe site style ended*/
 
/*years solid style*/
  .year-solid{
    border:1px solid #EEE;
    display: inline-block;
    width: 6%;
  }
/*years solid style ended*/ 
/*pricing section style*/
  .pricing-section{
  padding-left: 30px;
  padding-right: 30px;
}
/*pricing section style ended*/
  .menu-bar{
    display: none;
  }
  .spinner{
    display: none;
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}


  .col-lg-offset-1 { margin-left: 8.33%;}
  .col-lg-offset-2 { margin-left: 16.66%;}
  .col-lg-offset-3 { margin-left: 25%;}
  .col-lg-offset-4 { margin-left: 33.33%;}
  .col-lg-offset-5 { margin-left: 41.66%;}
  .col-lg-offset-6 { margin-left: 50%;}
  .col-lg-offset-7 { margin-left: 58.33%;}
  .col-lg-offset-8 { margin-left: 66.66%;}
  .col-lg-offset-9 { margin-left: 75%;}
  .col-lg-offset-10 { margin-left: 83.33%;}
  .col-lg-offset-11 { margin-left: 91.66%;}
  .col-lg-offset-12 { margin-left: 100%;}
  
  /*photo style*/
  .photo-button-text{
    padding-left: 100px;
  }
  .story-article article h1{
    padding-left: 131px;  
  }
  .galery-section h2{
    padding-left: 115px;
  }
  .main-article article{
    margin-left: 25px;
  }
  /*photo style ended*/
  /*menu container*/
  .menu-container{
    display: none;
  }
  .menu-bar{
    display: block;
  }
  .spinner{
    display: block;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
  
  .col-xl-offset-1 { margin-left: 8.33%;}
  .col-xl-offset-2 { margin-left: 16.66%;}
  .col-xl-offset-3 { margin-left: 25%;}
  .col-xl-offset-4 { margin-left: 33.33%;}
  .col-xl-offset-5 { margin-left: 41.66%;}
  .col-xl-offset-6 { margin-left: 50%;}
  .col-xl-offset-7 { margin-left: 58.33%;}
  .col-xl-offset-8 { margin-left: 66.66%;}
  .col-xl-offset-9 { margin-left: 75%;}
  .col-xl-offset-10 { margin-left: 83.33%;}
  .col-xl-offset-11 { margin-left: 91.66%;}
  .col-xl-offset-12 { margin-left: 100%;}

  .menu-bar{
    display: block;
  }
  .spinner{
    display: block;
  }
}
